.winner-center{
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    /* 确保容器足够大以包含动画 */
    /* width: 800px; */
}

@keyframes winner-animation {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 1; }
    100% { transform: scale(1); opacity: 0; }
}

.winner-animation {
    animation: winner-animation 4s forwards;
    font-size: 50px;
    color: #f8b500;
    font-weight: 600;
}
.show-name{
    height: 150px;
    width: 700px;
    /* border: 1px solid; */
    margin: auto;
    /* background: #fff; */
    font-size: 45px;
    color: black;
}

.prize-title{
    /* margin-top: 50px; */
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to right, #ffd700, #f8b500, #ffb347, #ffd700);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    display: inline-block;
}

.prize-show{
    width: 700px;
    margin: auto;
}

.winners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-content: center;
  }
  
  .grid-item {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  
.prize-level{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right, #ffd700, #f8b500, #ffb347, #ffd700);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.item-title{
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(to right, #ffd700, #f8b500, #ffb347, #ffd700);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin-bottom: 50px;
}

.loogn{
    width: 350px;
}

.loogn-div{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-around;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 33%;
}
.loogn-fan{
    transform: scaleX(-1);
}

.music-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; 
    display: flex;
  }
  
  #music-button{
    width: 30px; 
    height:30px;
    cursor: pointer;
    transition: transform 1s linear;
  }
  #reset-button {
    width: 35px; 
    height:35px;
    cursor: pointer;
    transition: transform 1s linear;
    margin-right: 10px;
  }
  #music-button.playing {
    transform: rotate(360deg);
    animation: spin 2s infinite linear;
  }
  
  /* 旋转动画 */
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
 